* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.centered {
  text-align: center;
}

main {
    padding: 0 1rem 1rem 1rem;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.dark {
  background-color: #333;
  color: #f9f9f9;
}

.margin {
  margin-top: 20px
}

.margin-left {
  margin-left: 10px
}

.tubsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}